p {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-inputs {
  padding: 2em;
  /*background: #9d5eb9;*/
  border-bottom: 2px solid #d8d8d8;
  display: flex;
}

.App-spinner {
  margin-left: 10px;
}

.App-content {
  background: #e9e9e9;
  padding: 1em 0;
}

.App-content ul {
  margin: 0;
}

.List {
  padding-left: 1em;
  padding-right: 1em;
}

.List-item {
  padding: 0.5em;
  display: flex;
  background: white;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  box-shadow: 2px 2px 3px #d8d8d8;
}

.List-item-img {
  width: 70px;
  height: 70px;
  margin: 0;
  margin-right: 10px;
  text-align: center;
  flex-shrink: 0;
}

.List-item-img img {
  max-width: 100%;
  max-height: 70px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
